<div class="city-autocomplete">
  <input
    type="text"
    class="city-input"
    [placeholder]="placeholder"
    [ngModel]="query"
    (ngModelChange)="onInput($event)"
    (focus)="onFocus()"    (blur)="onBlur()"
    autocomplete="off"
  />

  <ul class="suggestions" *ngIf="showDropdown">
    <li
      *ngFor="let city of suggestions"
      (mousedown)="selectCity(city)"
    >
      <span class="city-name">{{ city.cityName }}</span>
      <span class="city-region">{{ city.cityRegion.replace('_', ' ') | titlecase }}</span>
    </li>
  </ul>
</div>